In [1]:
import pandas as pd
import numpy as np

## Read Dataset

In [2]:
sales_data = pd.read_csv("NYC_Citywide_Annualized_Calendar_Sales_Update.csv")

C:\Users\listi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (0,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
sales_data.shape

(413743, 29)

In [4]:
sales_data.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AS OF FINAL ROLL,BLOCK,LOT,EASE-MENT,BUILDING CLASS AS OF FINAL ROLL,ADDRESS,APARTMENT NUMBER,...,SALE PRICE,SALE DATE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,1,CHELSEA,21 OFFICE BUILDINGS,4,697,5,NaN,O2,555 WEST 25TH STREET,NaN,...,43300000,03/28/2019,40.749704,-74.004930,104.0,3.0,99.0,1012379.0,1.006970e+09,Hudson Yards-Chelsea-Flatiron-Union Square
1,1,CHELSEA,21 OFFICE BUILDINGS,4,697,23,NaN,O6,511 WEST 25TH STREET,NaN,...,148254147,05/23/2019,40.749364,-74.004132,104.0,3.0,99.0,1012382.0,1.006970e+09,Hudson Yards-Chelsea-Flatiron-Union Square
2,1,CHELSEA,21 OFFICE BUILDINGS,4,700,55,NaN,O2,538 WEST 29TH STREET,NaN,...,11000000,03/13/2019,40.752067,-74.002931,104.0,3.0,99.0,1012435.0,1.007000e+09,Hudson Yards-Chelsea-Flatiron-Union Square
3,1,CHELSEA,21 OFFICE BUILDINGS,4,712,1,NaN,O6,450 WEST 15TH,NaN,...,591800000,05/22/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,CHELSEA,21 OFFICE BUILDINGS,4,746,64,NaN,O8,340 WEST 23RD STREET,NaN,...,0,04/01/2019,40.745809,-73.999729,104.0,3.0,93.0,1013367.0,1.007460e+09,Hudson Yards-Chelsea-Flatiron-Union Square

In [5]:
sales_data.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AS OF FINAL ROLL', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AS OF FINAL ROLL', 'ADDRESS', 'APARTMENT NUMBER',
       'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE', 'Latitude', 'Longitude', 'Community Board',
       'Council District', 'Census Tract', 'BIN', 'BBL', 'NTA'],
      dtype='object')

## Drop Columns

In [6]:
sales_data.drop(columns = ['BUILDING CLASS CATEGORY',
       'TAX CLASS AS OF FINAL ROLL', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AS OF FINAL ROLL', 'ADDRESS', 'APARTMENT NUMBER',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'Latitude', 'Longitude', 'Community Board',
       'Council District', 'Census Tract', 'BIN', 'BBL', 'NTA'], inplace = True)

In [7]:
sales_data.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'ZIP CODE', 'RESIDENTIAL UNITS',
       'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET',
       'GROSS SQUARE FEET', 'YEAR BUILT', 'SALE PRICE', 'SALE DATE'],
      dtype='object')

## Check any missing values

In [8]:
missing_ratios = sales_data.isna().sum() / sales_data.shape[0]
missing_ratios.sort_values(ascending = False)

LAND SQUARE FEET     0.069741
TOTAL UNITS          0.069737
COMMERCIAL UNITS     0.069737
RESIDENTIAL UNITS    0.069737
GROSS SQUARE FEET    0.069734
YEAR BUILT           0.025074
ZIP CODE             0.000063
SALE DATE            0.000000
SALE PRICE           0.000000
NEIGHBORHOOD         0.000000
BOROUGH              0.000000
dtype: float64

In [9]:
#Delete rows with missing values
sales_data=sales_data.dropna()

## Filtering Borough Column

In [10]:
sales_data.BOROUGH.value_counts()

4                96661
3                88130
1                62101
5                32671
2                26973
QUEENS           17225
BROOKLYN         16141
STATEN ISLAND     7024
MANHATTAN         5999
4                 5475
3                 4872
BRONX             4679
1                 3459
5                 1925
2                 1644
Name: BOROUGH, dtype: int64

In [11]:
sales_data['BOROUGH'] = sales_data['BOROUGH'].astype(str)
sales_data.BOROUGH.unique()

array(['1', '2', '3', '4', '5', 'MANHATTAN', 'BRONX', 'QUEENS',
       'BROOKLYN', 'STATEN ISLAND'], dtype=object)

In [12]:
sales_data=sales_data[sales_data['BOROUGH'].str.contains("2|3|4|5|BRONX|QUEENS|BROOKLYN|STATEN ISLAND")==False]

In [13]:
sales_data.BOROUGH.value_counts()

1            65560
MANHATTAN     5999
Name: BOROUGH, dtype: int64

In [14]:
sales_data.BOROUGH='MANHATTAN'

In [15]:
sales_data.BOROUGH.value_counts()

MANHATTAN    71559
Name: BOROUGH, dtype: int64

In [16]:
sales_data.head()

,BOROUGH,NEIGHBORHOOD,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,SALE PRICE,SALE DATE
0,MANHATTAN,CHELSEA,10001.0,0.0,8.0,8.0,"7,406","40,926",1926.0,43300000,03/28/2019
1,MANHATTAN,CHELSEA,10001.0,0.0,53.0,53.0,"9,890","83,612",1917.0,148254147,05/23/2019
2,MANHATTAN,CHELSEA,10001.0,1.0,3.0,4.0,"2,498","7,380",1910.0,11000000,03/13/2019
3,MANHATTAN,CHELSEA,10011.0,0.0,30.0,30.0,"34,188","281,361",1936.0,591800000,05/22/2019
4,MANHATTAN,CHELSEA,10011.0,3.0,1.0,4.0,"2,469","5,603",1900.0,0,04/01/2019

## Filtering Residential, Commercial and Total units columns, keep 1 unit and all residential

In [17]:
sales_data['TOTAL UNITS'].value_counts()

1.0      38294
0.0      25393
2.0       1659
3.0        609
4.0        557
         ...
210.0        1
406.0        1
117.0        1
173.0        1
489.0        1
Name: TOTAL UNITS, Length: 231, dtype: int64

In [18]:
sales_data=sales_data[sales_data['TOTAL UNITS'] == 1]

In [19]:
sales_data=sales_data[sales_data['RESIDENTIAL UNITS'] == 1]

In [20]:
sales_data.drop(columns = ['COMMERCIAL UNITS', 'RESIDENTIAL UNITS', 'TOTAL UNITS'], inplace = True)

In [21]:
sales_data.head()

,BOROUGH,NEIGHBORHOOD,ZIP CODE,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,SALE PRICE,SALE DATE
40,MANHATTAN,CHINATOWN,10013.0,0,0,1920.0,1190000,07/11/2019
41,MANHATTAN,CHINATOWN,10013.0,0,0,1920.0,1340000,12/04/2019
42,MANHATTAN,CHINATOWN,10013.0,0,0,1920.0,2287500,12/09/2019
43,MANHATTAN,CHINATOWN,10013.0,0,0,1920.0,2070000,05/29/2019
44,MANHATTAN,CHINATOWN,10013.0,0,0,1920.0,2900000,06/17/2019

## Checking value counts in square fee columns

In [22]:
sales_data['LAND SQUARE FEET'].value_counts()

- 0       15310
0         14809
22,202      140
29,705       78
72,099       75
          ...
4,495         1
1,646         1
5,955         1
2,125         1
3,678         1
Name: LAND SQUARE FEET, Length: 746, dtype: int64

In [23]:
sales_data['GROSS SQUARE FEET'].value_counts()

- 0      15315
0         9906
733         25
725         24
782         21
         ...
1,411        1
2,319        1
1,766        1
2,221        1
2,190        1
Name: GROSS SQUARE FEET, Length: 2565, dtype: int64

In [24]:
#Drop land square fee and gross square fee columns since there are too many "0" values
sales_data.drop(columns = ['LAND SQUARE FEET', 'GROSS SQUARE FEET'], inplace = True)

## Change sale date column from object to datetime

In [25]:
sales_data['SALE DATE'] = pd.to_datetime(sales_data['SALE DATE'], errors='coerce')
sales_data = sales_data.applymap(lambda x: x.strip() if type(x) is str else x)

## Remove any sales price less than $10,000

In [26]:
sales_data=sales_data[sales_data['SALE PRICE'] >= 10000]

In [27]:
sales_data['SALE PRICE'].value_counts()

1100000    151
1200000    126
950000     125
1250000    122
1300000    117
          ...
1644601      1
1523778      1
890969       1
4960348      1
1087491      1
Name: SALE PRICE, Length: 8248, dtype: int64

## Check other columns data type

In [28]:
sales_data['NEIGHBORHOOD'].value_counts()

UPPER WEST SIDE (59-79)      1861
UPPER EAST SIDE (79-96)      1838
UPPER EAST SIDE (59-79)      1670
TRIBECA                      1662
MIDTOWN WEST                 1651
MIDTOWN EAST                 1202
HARLEM-CENTRAL               1192
FINANCIAL                    1171
CHELSEA                      1154
GREENWICH VILLAGE-WEST        891
UPPER WEST SIDE (79-96)       844
CIVIC CENTER                  839
MURRAY HILL                   766
KIPS BAY                      759
FLATIRON                      752
LOWER EAST SIDE               751
CLINTON                       641
GRAMERCY                      599
SOHO                          557
MANHATTAN VALLEY              491
GREENWICH VILLAGE-CENTRAL     459
MIDTOWN CBD                   431
HARLEM-EAST                   355
EAST VILLAGE                  266
UPPER WEST SIDE (96-116)      249
JAVITS CENTER                 207
SOUTHBRIDGE                   191
HARLEM-UPPER                  176
ALPHABET CITY                 168
CHINATOWN                     156
FASHION                       154
WASHINGTON HEIGHTS LOWER      139
LITTLE ITALY                  118
WASHINGTON HEIGHTS UPPER      115
INWOOD                         43
UPPER EAST SIDE (96-110)       41
ROOSEVELT ISLAND               35
HARLEM-WEST                    26
MORNINGSIDE HEIGHTS             1
Name: NEIGHBORHOOD, dtype: int64

In [29]:
sales_data['ZIP CODE'].value_counts()

10019.0    1752
10013.0    1561
10016.0    1513
10011.0    1434
10023.0    1314
10128.0    1132
10022.0    1112
10010.0     927
10025.0     906
10065.0     813
10002.0     788
10007.0     782
10024.0     705
10003.0     674
10014.0     630
10036.0     587
10021.0     582
10017.0     570
10005.0     559
10026.0     503
10001.0     495
10028.0     464
10280.0     414
10075.0     413
10012.0     395
10038.0     374
10029.0     351
10069.0     343
10027.0     327
10006.0     310
10009.0     299
10004.0     239
10031.0     190
10030.0     170
10032.0     135
10039.0     129
10037.0     120
10018.0     114
0.0         102
10035.0      95
10033.0      93
10282.0      89
10044.0      44
10034.0      31
10040.0      29
10463.0      12
Name: ZIP CODE, dtype: int64

In [30]:
sales_data['YEAR BUILT'].value_counts()

0.0       3233
2015.0    1168
2005.0    1049
2016.0     993
2007.0     813
          ...
1953.0       1
1841.0       1
1821.0       1
1879.0       1
1893.0       1
Name: YEAR BUILT, Length: 131, dtype: int64

In [31]:
sales_data['YEAR BUILT'] = sales_data['YEAR BUILT'].astype(int)
sales_data['ZIP CODE'] = sales_data['ZIP CODE'].astype(int)

In [32]:
sales_data.dtypes

BOROUGH                 object
NEIGHBORHOOD            object
ZIP CODE                 int32
YEAR BUILT               int32
SALE PRICE               int64
SALE DATE       datetime64[ns]
dtype: object

In [33]:
sales_data.shape

(24621, 6)

## Export the cleaned database to CSV

In [35]:
sales_data.to_csv (r'C:\Users\listi\Desktop\BARUCH\BARUCH SUMMER 2021\Sales Prediction\cleaned_salesData.csv', index = False, header=True)